@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
tr {
  position: relative;
}
th,
td {
  padding: 15 px;
}
table.table {
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bg1.png') no-repeat;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 400px;
}
img {
  max-width: 100%;
}
#comment {
  position: absolute;
  top: -2px;
  left: 398px;
  width: 260px;
  height: 398px;
  background-color: wheat;
  overflow: auto;
}
#comment p {
  text-align: center;
  font-size: smaller;
  margin: 6px auto;
}
#comment span {
  font-weight: bold;
  text-transform: capitalize;
}
#buttons {
  height: 92px;
  width: 376px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: 9px;
  bottom: 7px;
}
#buttons > button {
  flex: 1;
  width: 25%;
  flex-basis: calc(50%);
}
button {
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
}
.move-name {
  font-size: 16px;
  font-weight: bolder;
}
#if1 {
  position: absolute;
  left: 226px;
  top: 132px;
  font-size: smaller;
}
#if2 {
  position: absolute;
  left: 22px;
  bottom: 66px;
  font-size: smaller;
}
span {
  font-weight: bolder;
  text-transform: capitalize;
}
#hp1 {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 150px;
}
#hp2 {
  position: absolute;
  left: 20px;
  bottom: 128px;
  width: 150px;
}
.text {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: smaller;
}
#pk1 {
  position: absolute;
  left: 70px;
  bottom: 30px;
}
#pk2 {
  position: absolute;
  right: 60px;
  bottom: 160px;
}
.bar {
  width: 100%;
  background-color: dimgray;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.bar-fill {
  display: block;
  height: 10px;
  background-color: springgreen;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}
progress {
  width: 100%;
  accent-color: springgreen;
  height: 20px;
  transition: all 1s ease-out;
}
::-webkit-progress-value {
  transition: all 1s;
}
.btn {
  background-color: #FFFFFF;
  border: 1px solid dimgray;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background-color: rgb(249,250,251);
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:focus-visible {
  box-shadow: none;
}
.btn small {
  font-weight: bolder;
}