@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.title {
  text-align: center;
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
.title span {
  position: relative;
  display: inline-block;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  margin: 0 -5px;
}
.subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
}
.screen {
  width: 660px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  border: 2px solid;
}
/* .screen:hover {
  transform: scale(1.5);
} */
.panel {
  position: relative;
  background: url('../img/bg1.png') no-repeat;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 400px;
}
.log {
  width: 260px;
  height: 400px;
  background-color: wheat;
  overflow: auto;
}
.log p {
  text-align: center;
  font-size: smaller;
  margin: 6px auto;
}
.comment {
  width: 260px;
  height: 400px;
  background-color: wheat;
  overflow: auto;
  border-left: 2px solid;
}
.comment p {
  text-align: center;
  font-size: smaller;
  margin: 6px auto;
}
.comment span {
  text-transform: capitalize;
}
.buttons {
  position: absolute;
  left: 12px;
  bottom: 10px;
  height: 92px;
  width: 376px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.buttons > button {
  flex-basis: calc(50%);
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  line-height: 1rem;
  padding: 0px;
}
.clear {
  width: 100%;
  height: 50px;
}
.poke {
  white-space: nowrap;
  text-align: center;
  height: 120px;
}
#pk1 {
  position: absolute;
  left: 45px;
  top: 185px;
}
#pk2 {
  position: absolute;
  right: 50px;
  top: 70px;
}
.image {
  width: 120px;
  height: 120px;
  max-width: 180px;
  white-space: nowrap;
  margin: 0 auto;
}
.image img{
  vertical-align: middle;
  max-width: 120px;
  max-height: 120px;
}
.middle {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.info {
  position: absolute;
  text-transform: capitalize;
  font-size: smaller;
}
#pk1 .info {
  left: 181px;
  top: 28px;
}
#pk2 .info {
  left: -207px;
  top: 5px;
}
#pk1 .hp {
  position: absolute;
  left: 180px;
  top: 48px;
  width: 150px;
}
#pk2 .hp {
  position: absolute;
  right: 172px;
  top: 25px;
  width: 150px;
}
.name {
  font-size: 16px;
  font-weight: bolder;
}
.cond {
  position: absolute;
  left: 0px;
  top: 7px;
}
.cond p {
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 0px 2px 0px 4px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
}
.text {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: smaller;
}
.hp {
  width: 100%;
  background-color: dimgray;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.bar {
  display: block;
  height: 10px;
  background-color: springgreen;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}
.btn {
  background-color: #FFFFFF;
  border: 1px solid dimgray;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background-color: rgb(249,250,251);
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:focus-visible {
  box-shadow: none;
}
.btn small {
  font-weight: bolder;
  font-size: 11px;
  font-style: italic;
}
progress {
  width: 100%;
  accent-color: springgreen;
  height: 20px;
  transition: all 1s ease-out;
}
::-webkit-progress-value {
  transition: all 1s;
}
.subword {
  animation: color-animation 4s linear infinite;
}
.sub1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}
.sub2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}
.sub3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #DBAD4A;
}
.sub4 {
  --color-1: #E4A9A8;
  --color-2: #DF8453;
  --color-3: #3D8DAE;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}